.order {
  .noOrder {
    font-size: 26px;
    text-align: center;
    display: block;
    margin-top: 30px;
  }
  .table {
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
  }
  .delete {
    color: red;
  }
}
