.home {
  ul {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    li {
      margin-top: 20px;
      list-style: none;
      border: 1px solid #ccc;
      margin-right: 30px;
      padding-left: 20px;
      color: #afa9a9d6;
      .name {
        color: black;
        font-size: 18px;
        padding-bottom: 10px;
      }
      .add {
        padding-top: 10px;
        font-size: 26px;
        padding-right: 20px;
        float: right;
        cursor: pointer;
        outline: none;
        padding-bottom: 10px;
        :hover {
          color: red;
        }
      }
    }
  }
}
