.main{
  text-align: left;
  margin-left: 30px;
  input{
    outline-style: none;
    margin:20px;
    margin-left: 0px;
    width: 100%;
    height: 30px;
  }
}
.submit{
  background-color: rgb(72,148,244);
  float: left;
  margin-left: 50px;
  width: 50px;
  height: 30px;
  border-radius: 8px;
  color: #fff;
}
