.header {
  height: 50px;
  background-color: rgb(6, 22, 39);
  text-align: left;
  padding-left: 50px;
  .active {
    color: #fff;
    background-color: rgb(66, 144, 247);
  }
  .link {
    width: 100px;
    display: inline-block;
    font-size: 20px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    outline-style: none;
    margin-right: 30px;
    line-height: 50px;
  }
}
